{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <p><a href="{{ path_for('index') }}">back</a></p>
        <h1>Telemetry for {{ application.getName }}</h1>
        <h2>{{ application.getDescription }}</h2>
        <p><a href="{{ application.getProjectUrl }}">{{ application.getProjectUrl }}</a></p>
        <hr/>
        <h2>Stats</h2>
        <p><b>Total:</b> {{ users_count }} users | {{ logs_count }} logs | {{ events_count }} events </p>
        <p><b>Daily:</b> {{ users_count_day }} users | {{ logs_count_day }} logs | {{ events_count_day }} events </p>
        <p><b>Weekly:</b> {{ users_count_week }} users | {{ logs_count_week }} logs | {{ events_count_week }} events </p>
        <p><b>Monthly:</b> {{ users_count_month }} users | {{ logs_count_week }} logs | {{ events_count_week }} events </p>
        <hr/>
        <h2>Logs</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Log Type</th>
                <th>Message</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.getDate }}</td>
                    <td>{{ log.getLogType }}</td>
                    <td><a href="{{ path_for('log_view', {'id': log.getId}) }}">{{ log.getShortMessage }}</a></td>
                    <td>
                        <a href="{{ path_for('user_view', {'id': log.getUserId}) }}">{{ log.getUser }}</a>
                    </td>
                </tr>
            {% else %}
                No logs have been found.
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <h2>Events</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Event</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.getDate }}</td>
                    <td>{{ event.getName }}</td>
                    <td>
                        <a href="{{ path_for('user_view', {'id': event.getUserId}) }}">{{ event.getUser }}</a>
                    </td>
                </tr>
            {% else %}
                No events have been found.
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <p class="small">{{ application.getGuid }}</p>
    </header>
{% endblock %}
