{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <p><a href="{{  path_for('application_view', {'id': application.getId}) }}" >back</a></p>
        <h1>Telemetry for {{ application.getName }}</h1>
        <h2>by {{ user.getName }}</h2>

        <hr/>
        <h2>Stats</h2>
        <div class="container">
            <div class="col-md-6">
                <p><b>Total logs:</b> {{ logs|length }}</p>
            </div>
            <div class="col-md-6">
                <p><b>Total events:</b> {{ events|length }}</p>
            </div>
        </div>
        <hr/>
        <h2>Logs</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Log Type</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.getDate }}</td>
                    <td>{{ log.getLogType }}</td>
                    <td><a href="{{ path_for('log_view', {'id': log.getId}) }}">{{ log.getShortMessage }}</a></td>
                </tr>
            {% else %}
                No logs have been found.
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <h2>Events</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Time</th>
                <th>Event</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.getDate }}</td>
                    <td>{{ event.getName }}</td>
                </tr>
            {% else %}
                No events have been found.
            {% endfor %}
            </tbody>
        </table>
    </header>
{% endblock %}
